.comics-list {
  flex: 1;
  margin-right: 10px;
}

.random-button {
  background-color: red;
  font-family: "Bangers", Arial Black;
  color: white;
  padding: 0.05em 0;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  border-radius: 5px;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}
