.list-item {
  border-radius: 2px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px #eee;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  margin-bottom: 10px;
}

.list-item-cover {
  flex: 1;
  border-radius: 2px;
}

.list-item-description {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 3px 3px 0 10px;
}

/* only show active and hover effects in the master/detail view */
@media (min-width: 550px) {
  .list-item.active,
  .list-item:hover {
    background-color: #eee;
  }
}
